$theme-color: #5e42b0;
$theme-light-color:#9071ea;
$text-color : #ffffff;
$number-color: #000000;
$title-color: #e7e7e7;
$secondary-color:#c1c1c1;
$important-color: #0a0e34;
$secondary-theme-color:#efefef;